@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap");
@import "../../styles/variables";

.header {
  font-family: "Roboto";
  font-size: 30px;
  padding-top: 30px;
  color: $secondary-color;
  transition: all 1s ease-in-out;

  &:hover {
    color: $primary-color;
  }
}
