.wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/right\ and\ left\ brain.jpg") no-repeat center center;
  min-height: 100vh;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
